h1 {
  font-size: var(--font-size-4xl);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: var(--font-size-3xl);
  margin: 0;
  padding: 0;
}

h3 {
  font-size: var(--font-size-2xl);
  margin: 0;
  padding: 0;
}

h4 {
  font-size: var(--font-size-xl);
  margin: 0;
  padding: 0;
}

h5 {
  font-size: var(--font-size-l);
  margin: 0;
  padding: 0;
}

h6,
p {
  font-size: var(--font-size-m);
  margin: 0;
  padding: 0;
}

small {
  font-size: var(--font-size-s);
}

a {
  color: var(--color-fg-1st);
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: var(--color-fg-1st);
}

a:hover {
  text-decoration: underline;
}

a:focus-visible {
  outline: none;
  border: var(--visible-focus-line);
}
