html {
  color: var(--color-fg-1st);
  background-color: var(--color-bg-1st);
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-m);
  line-height: var(--linehight-normal);
  overflow-y: scroll;
  scrollbar-color: var(--color-border) var(--color-bg-2nd);
}

.text-4xl {
  font-size: var(--font-size-4xl);
}

.text-3xl {
  font-size: var(--font-size-3xl);
}

.text-2xl {
  font-size: var(--font-size-2xl);
}

.text-xl {
  font-size: var(--font-size-xl);
}

.text-l {
  font-size: var(--font-size-l);
}

.text-m {
  font-size: var(--font-size-m);
}

.text-s {
  font-size: var(--font-size-s);
}
