/* forms and buttons */
input {
  border: 1px solid var(--border-color);
  line-height: 1.5;
  /* y-padding = (hight(2rem) - line-height(1.5rem)) / 2 - border(2px) */
  padding: calc(0.25rem - 1px) 0.5rem;
  color: var(--primary-fg);
}
input:focus-visible {
  border: 1px solid var(--blue);
  outline: none;
}
textarea {
  color: var(--primary-fg);
  resize: vertical;
}

button {
  display: block;
  line-height: 1.5;
  border: 1px solid var(--border-color);
  /* y-padding = (hight(2rem) - line-height(1.5rem)) / 2 - border(2px) */
  padding: calc(0.25rem - 1px) calc(1rem - 1px);
  background-color: var(--secondary-bg);
  color: var(--secondary-fg);
}

button.positive {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--primary-bg);
}
button.negative {
  background-color: var(--red);
  border-color: var(--red);
  color: var(--primary-bg);
}
button[disabled] {
  background-color: var(--hint-color);
  border-color: var(--hint-color);
  color: var(--teritary-fg);
}
